*{
    margin: 0;
    padding: 0;
}

:root{
  --color-1: rgb(180, 221, 105);
  --color-2: rgb(192, 219, 236);
  --color-3: rgb(181, 181, 212);
  --color-4: rgb(134, 195, 235);
  --color-5: rgb(231, 224, 182);
  --dark-color-1:rgba(35, 49, 54, 0.836);
  --dark-color-2:rgba(235, 138, 81, 0.884);

}

body{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient( var(--dark-color-2) 5%, var(--dark-color-2) 40%, var(--dark-color-1)100%);
    filter: sepia(50%);
}



.container{
    width: 400px;
    height: 600px;
    background-color: var(--color-3);
    display: flex;
    align-items: center;
    justify-self: center;
    border: 0.7em solid var(--dark-color-1);
    border-radius: 2em;
    flex-direction: column;
    box-shadow: 0px 0px 10px var(--dark-color-1);
    

}

.name{
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    align-self: flex-start;
    font-size: 22px;
    font-weight: 600;
    color: var(--dark-color-1);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.screen{
    background-color: var(--dark-color-1);
    width: 80%;
    height: 20%;
    /* box-shadow: rgba(5, 17, 17, 0.9) 0px 1px 8px; */
    border: 0.25em solid var(--dark-color-1);
    border-radius: 0.5em;
    margin-bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5%;
    padding-left: 5%;
    font-weight: 400;
    font-size: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
    color: var(--dark-color-2);
    filter: saturate(200%);

}

.buttons {
    background-color: var(--dark-color-1);
    width: 90%;
    margin-bottom: 5%;
    height: 100%;
    border: 0.35em solid var(--dark-color-1);
    border-radius: 6px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-template-areas: 
                        "ac ac c  div"
                        "se ei ni mul"
                        "fo fi si subs"
                        "on tw tr sum"
                        "ze do eq sum";
    grid-gap: 6px;
  }
  
  
  
.butt {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
    background-color:var(--color-5)
} 

.butt:hover{
  background-color: var(--color-2);
}

.butt:active {
  background-color: var(--color-5);
  box-shadow: 0 3px var(--dark-color-1);
  transform: translateY(4px);
}

.buttOp{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 1000;
  font-size: 20px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 5px;
  background-color: var(--color-4);
} 

.buttOp:hover{
  background-color: var(--color-2);
}

.buttOp:active {
  background-color: var(--color-4);
  box-shadow: 0 3px var(--dark-color-1);
  transform: translateY(4px);
}

.buttAct{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 20px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 5px;
  background-color: var(--color-1);
}
.buttAct:hover{
  background-color: var(--color-2);
}

.buttAct:active {
  background-color: var(--color-1);
  box-shadow: 0 3px var(--dark-color-1);
  transform: translateY(4px);
}


  
  /* FIRST ROW */
  .ac {
    grid-area: ac;
    
  }
  
  .c {
    grid-area: c;
  }
  
  .divide {
    grid-area: div;
  }
  
  /* SECOND ROW */
  .sev {
    grid-area: se;
  }
  
  .eig {
    grid-area: ei;
  }
  
  .nin {
    grid-area: ni;
  }
  
  .multiply {
    grid-area: mul;
  }
  
  /* THIRD ROW */
  
  .fou {
    grid-area: fo;
  }
  
  .fiv {
    grid-area: fi;
  }
  
  .six {
    grid-area: si;
  }
  
  .substract {
    grid-area: subs;
  }
  
  /* FOURTH ROW */
  .one {
    grid-area: on;
  }
  
  .two {
    grid-area: tw;
  }
  
  .thr {
    grid-area: tr;
  }
  
  .sum {
    grid-area: sum;
  }
  
  /* FIFTH ROW */
  
  .zer {
    grid-area: ze;
  }
  
  .dot {
    grid-area: do;
  }
  
  .equal {
    grid-area: eq;
  }